@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --bluecolor: #2196F3;
    --whitecolor: #fff;
    --maintextcolor: #212121;
    --secondtextcolor: #757575;
    --blackcolor: #000;
    --footercolor: #2F303A;
    --topfooterbg: #F5F4FA; 
    --bordercolor: #eee;
    --svgcolor: #AFB1B8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Raleway';
}



.wrapper {
    width: 100%;
    padding: 0 15px;
}

.navmenu {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo span {
    color: var(--bluecolor);
    font-family: 'Raleway';
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--blackcolor);
    font-family: 'Raleway';
}

.nav, .contacts {
    display: none;
}

.burgermenu {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.burgermenu::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--blackcolor);
    box-shadow: 0 6px var(--blackcolor);
    transform: translateY(6px);
}

.burgermenu::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--blackcolor);
}

.hero {
    background-image: url(/images/herophoneimg.jpg);
    width: 100%;
    height: 400px;
    background-color:#2F303ACC;
    opacity: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.herotext {
    padding-top: 118px;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--whitecolor);
}

.button {
    margin-top: 30px;
    margin-left: 140px;
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--bluecolor);
    box-shadow: 0px 4px 4px 0px #00000026;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--whitecolor);
    border: none;
}

.foursvgdiv {
    padding-top: 60px;
}

.foursvg {
    background-color: var(--topfooterbg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-radius: 4px;
}

.fourimg {
    width: 70px;
    height: 70px;
}

.mainzaglav {
    text-transform: uppercase;
    margin: 30px 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.maintext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondtextcolor);
    margin-bottom: 30px;
}

.textandimg {
    display: none;
}

.herotwo {
    background-color: var(--topfooterbg);
}

.ourteam {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 60px 0 30px;
}

.prodamdivan {
    background-color: var(--whitecolor);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    margin-bottom: 30px;
    border-radius: 0px, 0px, 4px, 4px;
}

.teamimg {
    width: 450px;
}

.topfooterzaglav { 
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--maintextcolor);
}

.topfooterzaglav span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondtextcolor);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.socialitem {
    width: 40px;
    height: 40px;
}

.soci {
    fill: var(--svgcolor);
    width: 20px;
    height: 20px;
}