@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --bluecolor: #2196F3;
    --whitecolor: #fff;
    --maintextcolor: #212121;
    --secondtextcolor: #757575;
    --blackcolor: #000;
    --footercolor: #2F303A;
    --topfooterbg: #F5F4FA; 
    --bordercolor: #eee;
    --svgcolor: #AFB1B8;
    --footersvgbackgr: #FFFFFF1A;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Raleway';
}



.wrapper {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.navmenu {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navobertka {
    display: flex;
    align-items: center;
    gap: 85px;
}

.logo span {
    color: var(--bluecolor);
    font-family: 'Raleway';
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--blackcolor);
    font-family: 'Raleway';
}

.nav {
    height: 80px;
    display: none;
    align-items: center;
    gap: 50px;  
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.navitem {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--maintextcolor);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.active {
    color: var(--bluecolor);
}

.navitem.active {
    border-bottom: 4px solid var(--bluecolor);
}

.contacts {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.contactscontacts {
    display: flex;
    align-items: center;
    color: var(--secondtextcolor);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contactssvg {
    fill: var(--secondtextcolor);
    margin-right: 8px;
}

.envelopesvg {
    width: 14px;
    height: 10px;
}

.phonesvg {
    width: 10px;
    height: 14px;
}

.burgermenu {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgermenu::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--blackcolor);
    box-shadow: 0 6px var(--blackcolor);
    transform: translateY(-6px);
}

.burgermenu::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--blackcolor);
    transform: translateY(6px);
}

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herophoneimg.jpg);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herophoneimg.jpg);
    width: 100%;
    height: 400px;
    background-color:#2F303ACC;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.herotext {
    padding-top: 118px;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--whitecolor);
    margin-bottom: 30px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--bluecolor);
    box-shadow: 0px 4px 4px 0px #00000026;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--whitecolor);
    border: none;
}

.foursvgdiv {
    padding-top: 60px;
}

.fourlist {
    display: flex;
    flex-wrap: wrap;
}

.foursvgitem {
    width: 100%;
}

.foursvg {
    background-color: var(--topfooterbg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-radius: 4px;
}

.fourimg {
    width: 70px;
    height: 70px;
}

.mainzaglav {
    text-transform: uppercase;
    margin: 30px 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.maintext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondtextcolor);
    margin-bottom: 30px;
}

.textandimg {
    display: none;
}

.herotwo {
    background-color: var(--topfooterbg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.ourteam {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 30px;
}

.topfooterdivan {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.prodamdivan {
    width: 100%;
    background-color: var(--whitecolor);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    /* margin-bottom: 60px; */
    border-radius: 0 0 4px 4px;
}

.teamimg {
    width: 100%;
}

.topfooterzaglav { 
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--maintextcolor);
    
}

.spantext {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondtextcolor);
    margin-top: 10px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    padding-bottom: 24px;
}

.socialitem {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.soci {
    fill: var(--svgcolor);
    width: 20px;
    height: 20px;
}

.clientshead {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
}

/* CLIENTS  */

.clientswtab {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clientslist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clientsitem {
    height: 90px;
    width: 210px;
    border: 1px solid var(--svgcolor);
    border-radius: 4px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clientsitem:hover  {
    border-color: var(--bluecolor);
}

.clientssvg {
    fill: var(--svgcolor);
    transition: all 0.3s;
}

.clientsitem:hover .clientssvg {
    fill: var(--bluecolor);
}



.one {
    width: 44px;
    height: 49px;
}

.two {
    width: 40px;
    height: 52px;
}

.three {
    width: 41px;
    height: 42px;
}

.four {
    width: 80px;
    height: 42px;
}

.five {
    width: 59px;
    height: 47px;
}

.sex {
    width: 88px;
    height: 45px;
}

/* threediv  */
.threediv {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 60px 15px 60px;
    width: 100%;
    background-color: var(--footercolor);
}

.ftcont {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footcont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flogo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--whitecolor);
    margin-bottom: 20px;
}

.flogo span {
    font-family: "Raleway";
    color: var(--bluecolor);
}

.flist {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 8px;
}

.adrcord address {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--whitecolor);
    font-style: normal;
}

.fcont {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF99;
}

.connection {
    padding: 53px 15px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.connecttext {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--whitecolor);
    margin-bottom: 20px;
}

.connectlist {
    display: flex;
    gap: 10px;
    
}

.connectitem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--footersvgbackgr);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.connectitem:hover {
    background-color: var(--bluecolor);
}

.connectsvg {
    width: 20px;
    height: 20px;
    fill: var(--whitecolor);
}

.forma {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.formnobtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formtext {   
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--whitecolor);
}

/* .mailform {
    width: 100%;
} */

.email {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 50px;
    padding: 15px 0 16px 15px;  
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    border-radius: 4px;
    outline: none;
    border: 1px solid #FFFFFF4D;
    background-color: var(--footercolor);
}

.subscribebtn {
    width: 200px;
    height: 50px;
    background-color: var(--bluecolor); 
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--whitecolor);
    border: none;
}

.telega {
    width: 24px;
    height: 24px;
    fill: var(--whitecolor);
}



@media (min-width: 768px) {
    .navmenu {
        height: 80px;
    }
    .nav, .contacts{
        display: flex;
    }
    .burgermenu {
        display: none;
    }
    .hero {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/heroimgplanshit.jpg);
        background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/heroimgplanshit.jpg);
    }
    .fourlist {
        display: flex;
        gap: 30px;
    }
    .foursvgitem {
        width: calc((100% - 30px) / 2);
    }
    .mainzaglav {
        text-align: left;
    }
    .herotwo {
        width: 100%;
    }
    .topfooterdivan {
        gap: 30px;
        flex-direction: row;
    }
    .prodamdivan {
        width: calc((100% - 30px) / 2);
    }
    .planhetwidth {
        display: flex;
        justify-content: space-between;
        gap: 165px;
        
    }
    .connection {
        padding: 5px 15px 60px;
    }
    .footcont {
        padding-bottom: 60px;
    }
}


@media (min-width: 1600px) {
    .contacts {
        flex-direction: row;
        gap: 30px;
    }
    .hero {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herodesktop.jpg);
        background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herodesktop.jpg);
        height: 600px;
    }
    .herotext {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 200px;
    }
    .mainzaglav {
        text-align: left;
    }

    .herotwo {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .fourlist {
        max-width: 1170px;
        flex-direction: row;
        margin: 0 auto; 
    }
    .foursvgitem {
        width: calc((100% - 90px) / 4);
    }
    .textandimg {
        display: block;
        width: 100%;
        margin-bottom: 94px;
    }
    .threeimgzaglav {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.03em;
        padding: 94px 0 50px;
    }
    .threeimg {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 30px;
    }
    .threeitem {
        width: 370px;
        position: relative;
        
    }
    .ourteam {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.03em;
        text-align: center;
    }
    .topfooterdivan {
        flex-direction: row;
        justify-content: center;
    }
    .prodamdivan {
        width: calc((100% - 90px) / 4);
    }
    .clientsitem {
        width: calc((100% - 150px) / 6);
    }
    .connectitem {
        color: var(--bluecolor);
    }
    .ftcont {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }
    .planhetwidth {
        gap: 70px;
    }
    .flist {
        align-items: flex-start;
    }
    .connection {
        margin-top: 12px;
    }
    .footcont, .connection {
        padding: 0;
        align-items: flex-start;
    }
    .forma {
        margin-top: 12px;
        flex-direction: row;
        gap: 12px;
        align-items: flex-end;
    }
    .formnobtn {
        align-items: flex-start;
    }
    .email {
        width: 358px;
    }
}