@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --bluecolor: #2196F3;
    --whitecolor: #fff;
    --maintextcolor: #212121;
    --secondtextcolor: #757575;
    --blackcolor: #000;
    --footercolor: #2F303A;
    --topfooterbg: #F5F4FA; 
    --bordercolor: #eee;
    --svgcolor: #AFB1B8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Raleway';
}



.wrapper {
    width: 100%;
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

.navmenu {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navobertka {
    display: flex;
    align-items: center;
    gap: 85px;
}

.logo span {
    color: var(--bluecolor);
    font-family: 'Raleway';
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--blackcolor);
    font-family: 'Raleway';
}

.nav {
    height: 80px;
    display: none;
    align-items: center;
    gap: 50px;  
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.navitem {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--maintextcolor);
}

.navitem.active {
    border-bottom: 4px solid var(--bluecolor);
}

.contacts {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.contactscontacts {
    display: flex;
    align-items: center;
    color: var(--secondtextcolor);
}

.contactssvg {
    fill: var(--secondtextcolor);
    margin-right: 8px;
}

.envelopesvg {
    width: 14px;
    height: 10px;
}

.phonesvg {
    width: 10px;
    height: 14px;
}

.burgermenu {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgermenu::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--blackcolor);
    box-shadow: 0 6px var(--blackcolor);
    transform: translateY(-6px);
}

.burgermenu::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--blackcolor);
    transform: translateY(6px);
}

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herophoneimg.jpg);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herophoneimg.jpg);
    width: 100%;
    height: 400px;
    background-color:#2F303ACC;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.herotext {
    padding-top: 118px;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--whitecolor);
    margin-bottom: 30px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--bluecolor);
    box-shadow: 0px 4px 4px 0px #00000026;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--whitecolor);
    border: none;
}

.foursvgdiv {
    padding-top: 60px;
}

.foursvg {
    background-color: var(--topfooterbg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-radius: 4px;
}

.fourimg {
    width: 70px;
    height: 70px;
}

.mainzaglav {
    text-transform: uppercase;
    margin: 30px 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.maintext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondtextcolor);
    margin-bottom: 30px;
}

.textandimg {
    display: none;
}

.herotwo {
    background-color: var(--topfooterbg);
    max-width: 480px;
}

.ourteam {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 60px 0 30px;
}

.prodamdivan {
    width: 100%;
    background-color: var(--whitecolor);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    margin-bottom: 30px;
    border-radius: 0 0 4px 4px;
}

.teamimg {
    width: 100%;
}

.topfooterzaglav { 
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--maintextcolor);
    
}

.spantext {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondtextcolor);
    margin-top: 10px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    padding-bottom: 24px;
}

.socialitem {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.soci {
    fill: var(--svgcolor);
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .navmenu {
        height: 80px;
    }
    .nav, .contacts{
        display: flex;
    }
    .burgermenu {
        display: none;
    }
    .hero {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/heroimgplanshit.jpg);
        background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/heroimgplanshit.jpg);
    }
}


@media (min-width: 1600px) {
    .contacts {
        flex-direction: row;
        gap: 30px;
    }
    .hero {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herodesktop.jpg);
        background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/herodesktop.jpg);
        height: 600px;
    }
    .herotext {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 200px;
    }
}